<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!!!!!!!!!!!!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <h1>May the force be with you!!</h1>
        <ul>
                <li><a href="{{ path('starwars_jedi_characters') }}">Jedi characters</a></li>
                <li><a href="{{ path('starwars_species_mammal') }}">Mammal species</a></li>
                <li><a href="{{ path('import_characters') }}">Import characters</a></li>
                <li><a href="{{ path('update_characters') }}">Update characters</a></li>
            
        </ul>
        
    </body>
</html>
